@page "/admin"
@inject HttpClient Http

<h3>@value</h3>

<Button Color="Color.Info" Clicked="@OnButtonClickedAsync">Button</Button>

@code
{
    private string value = "Welcome Admin.";

    async void OnButtonClickedAsync()
    {
        value = "I change";
    }
}
