@page "/configureartifacts"
@inject IHttpClientFactory ClientFactory

<h3>Current #of Artifacts:@count</h3>

<Button Color="Color.Success" Clicked="@OnButtonClicked">Add Artifact</Button>

@code
{
    private int count = 0;

    protected void OnButtonClicked()
    {
        ++count;
    }
}
