@page "/configureartifacts"
@inject IHttpClientFactory ClientFactory

<h3>@value</h3>

<Button Color="Color.Info" Clicked="@OnButtonClicked">Button</Button>

@code
{
    private string value = "Configure your artifacts here";

    protected void OnButtonClicked()
    {
        value = "configure those artifacts";
    }
}
