@page "/configureartifacts"
@inject IHttpClientFactory ClientFactory

<h3>Current #of Artifacts:@newArtifacts</h3>

<Button Color="Color.Success" Clicked="@OnButtonClicked">Add Artifact</Button>

@code
{
    RequiredArtifactModel artifact;
    private int newArtifacts = 0;

    protected void OnButtonClicked()
    {
        ++newArtifacts;
    }
}
