@page "/home"
@inject ProtectedSessionStorage  sessionStorage

@if (UserType == "Student")
{
    <h1>Welcome Student!</h1>
}
else if (UserType == "Staff")
{
    <h1>Welcome Staff Member!</h1>
}
else if (UserType == "Admin")
{
    <h1>Welcome Admin!</h1>
}

Use the sidebar to navigate to your pages

@code
{
    private string UserType = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            UserType = (await sessionStorage.GetAsync<string>("UserType")).Value ?? string.Empty;
            StateHasChanged();
        }
    }
}
