


@if (!string.IsNullOrEmpty(pdfContent))
{
                <!--- TODO: bootstrap --->
<div>
    <iframe src="@pdfContent" width="1080" height="1920"/>
</div>

}


@code {
    [Parameter]
    public byte[] inBytes { get; set; }
    //{
    //    get
    //    {
    //        return inBytes;
    //    }
    //    set
    //    {
    //        inBytes = value;
    //        rendered = false;
    //    }
    //}


    string pdfContent = string.Empty;
    bool rendered = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (inBytes is null)
        {
            return;
        }

        if (rendered == false)
        {
            rendered = true;
            pdfContent = "data:application/pdf;base64,";
            pdfContent += System.Convert.ToBase64String(inBytes);
            StateHasChanged();
        }

    }


}
