@page "/staff"
@inject HttpClient Http

<h3>@value</h3>

<Button Color="Color.Info" Clicked="@OnButtonClickedAsync">Button</Button>

@code
{
    private string value = "Welcome Staff member.";

    async void OnButtonClickedAsync()
    {
        value = "I own students";
    }
}
