@page "/artifactreports"
@inject HttpClient Http


<Button Color="Color.Info" Clicked="@OnButtonClickedAsync1">Generate a List of Students</Button>
<Button Color="Color.Info" Clicked="@OnButtonClickedAsync2">Submission Status of Required Documents</Button>
<Button Color="Color.Info" Clicked="@OnButtonClickedAsync3">List of Required Documents</Button>
<h3>@value</h3>

@code
{
    private string value = "";

    async void OnButtonClickedAsync1()
    {
        value = "Here is your list of students:\n";
        // list all students etc..
    }

    async void OnButtonClickedAsync2()
    {
        value = "Here is the status of all required documents:\n";
        // list status of all documents per student etc...
    }


    async void OnButtonClickedAsync3()
    {
        value = "Here is a list of all required documents:\n";
        // list all required documents per student etc..
    }
}
