@page "/EndpointTest"

<h3>EndpointTest</h3>

<Button Clicked="@OnButtonClicked">BFDSZHBBb</Button>

@code
{
    void OnButtonClicked()
    {
        Console.WriteLine("BOOGA BOOGA\n\n\n\n\n\nBOP");
    }
}
