@page "/EndpointTest"
@inject HttpClient Http

<h3>EndpointTest</h3>

<Button Color="Color.Info" Clicked="@OnButtonClickedAsync">Button</Button>

@value

<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>First Name</TableHeaderCell>
            <TableHeaderCell>Last Name</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>1</TableRowHeader>
            <TableRowCell>Mark</TableRowCell>
            <TableRowCell>Otto</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>2</TableRowHeader>
            <TableRowCell>Jacob</TableRowCell>
            <TableRowCell>Thornton</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>3</TableRowHeader>
            <TableRowCell>Larry</TableRowCell>
            <TableRowCell>the Bird</TableRowCell>
        </TableRow>
    </TableBody>
</Table>


@code
{
    private string value = "hello";

    async void OnButtonClickedAsync()
    {
        value = "I change";
        await Http.GetAsync("http://localhost:7071/api/GetStudents");
        Console.WriteLine("hBOP");

    }
}
