@page "/studentinfo"
@inject HttpClient Http

<Card>
    @{
        if (isEditable)
        {
            <CardBody>
                <CardTitle Size="5">Edit Student Info here:</CardTitle>
                FirstName: <TextEdit Placeholder="@myStaff?.FirstName" />
                LastName: <TextEdit Placeholder="@myStaff?.LastName" />
            </CardBody>
            <Button Clicked="@OnCancelButtonClicked">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@OnSubmitButtonClicked">Submit</Button>
        }
        else
        {
            <Button Color="Color.Warning" Clicked="@OnEditableButtonClicked">Edit</Button>
            <CardBody>
                <CardTitle Size="5">Student Info</CardTitle>
                FirstName: @myStudent?.FirstName
                <br />
                LastName: @myStudent?.LastName
                <br />
                Birthday: @myStudent?.Birthday.ToString()
                <br />
                Address: @myStudent?.Address
                <br />
                Major: @myStudent?.Major
                <br />
                FirstYearEnrolled: @myStudent?.FirstYearEnrolled.ToString()
                <br />
                HighSchoolAttended: @myStudent?.HighSchoolAttended
            </CardBody>
        }
    }
</Card>



@code
{
    [Parameter]
    public StudentModel myStudent { get; set; }

    [Parameter]
    public StaffModel myStaff { get; set; }

    bool isEditable = false;

    void OnEditableButtonClicked()
    {
        isEditable = true;
    }

    void OnCancelButtonClicked()
    {
        isEditable = false;
    }

    async Task OnSubmitButtonClicked()
    {
        // Update this Student
        try
        {
            await Http.GetAsync(@"www.endpointhere.com");
        }
        catch (Exception e)
        {
            Console.WriteLine("Database services must be offline");
        }
    }
}
