@page "/student"
@inject HttpClient Http

<h3>@value</h3>

<Button Color="Color.Info" Clicked="@OnButtonClickedAsync">Button</Button>

@code
{
    private string value = "Welcome Student.";

    async void OnButtonClickedAsync()
    {
        value = "Fortnite";
    }
}
