@page "/studentinfo"
@inject HttpClient Http

<Card>
    <CardBody>
        <CardTitle Size="5">Edit Student Info here:</CardTitle>
        StudentIdNumber: <TextEdit Placeholder="@myStudent?.StudentIdNumber.ToString()" />
        FirstName: <TextEdit Placeholder="@myStudent?.FirstName" />
        LastName: <TextEdit Placeholder="@myStudent?.LastName" />
        Birthday: <TextEdit Placeholder="@myStudent?.Birthday.ToString()" />
        Address: <TextEdit Placeholder="@myStudent?.Address" />
        Major: <TextEdit Placeholder="@myStudent?.Major" />
        FirstYearEnrolled: <TextEdit Placeholder="@myStudent?.FirstYearEnrolled.ToString()" />
        HighSchoolAttended: <TextEdit Placeholder="@myStudent?.HighSchoolAttended" />

        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>



@code
{
    [Parameter]
    public StudentModel myStudent { get; set; }
}
